<head>
    <link href="/css/index.css" rel="stylesheet">
</head>

<h1>Login</h1>
    <form onsubmit="Logar()">
        <label>E-mail:</label>
        <input type="email" placeholder="Digite seu e-mail">
        <label>Senha:</label>
        <input type="password" placeholder="Digite sua senha">
        <a href="/senha">esqueceu senha</a>
        <a href="/inside/site">
            <button className="button" type="submit">Entrar</button>
        </a>
    </form>