<head>
    <link href="/css/forgotpassword.css" rel="stylesheet">
</head>

<h1>Redefinir Senha</h1>
    <form  onsubmit="SendEmail()"> 
        <label>E-mail:</label>
        <input type="email" placeholder="Digite seu e-mail">
        <label>Confirmar e-mail:</label>
        <input type="confirm_email" placeholder="Digite sua senha">
            <button className="button" type="submit">Redefinir Senha</button>
        </form>